<!DOCTYPE html>
<html ng-app="shop">
<head>
	<title>krpano.com - house</title>
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
	<style>
		@-ms-viewport { width: device-width; }
		@media only screen and (min-device-width: 800px) { html { overflow:hidden; } }
		html { height:100%; }
		body { height:100%; overflow:hidden; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000; background-color:#fff; }
	</style>

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>


<script src="bower_components/jquery/dist/jquery.min.js" ></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



	<script src="angular.min.js"></script>

  <script src="tour.js"></script>
  <script src="shopping.js"></script>
</head>
<body class="well container-fluid">

<div class="row">
  <div ng-controller="shoppingCtrl">

  	<div id="pano" class="col-md-8" style="height:700px;" >
  		<noscript><table><tr style="valign:middle;"><td><div style="text-align:center;">ERROR:<br/><br/>Javascript not activated<br/><br/></div></td></tr></table></noscript>
  		<script>
  			embedpano({swf:"tour.swf", xml:"tour.xml", target:"pano", html5:"auto", passQueryParameters:true});
  		</script>
    </div>

    <div class="col-md-4">

      <p class="text-info">
        Thanks for shopping at the Angular Store.<br />
        This is your shopping cart. Here you can edit the items,
        go back to the store, clear the cart, or check out.</p>

      <table class="table table-bordered">

        <!-- header -->
        <tr class="well">
          <td><b>物品</b></td>
          <td class="tdCenter"><b>Quantity</b></td>
          <td class="tdRight"><b>Price</b></td>
          <td />
        </tr>

        <!-- empty cart message -->
        <tr ng-hide="cart.getTotalCount() > 0" >
          <td class="tdCenter" colspan="4">Your cart is empty.</td>
        </tr>

        <!-- cart items -->
        <tr ng-repeat="item in cart.getItems() | orderBy:'name'">
          <td>{{item.name}}</td>
          <td class="tdCenter">
            <div class="input">
              <!-- use type=tel instead of number to prevent spinners -->
              <input
                class="text-center" type="tel" size="3"
                ng-model="item.amount" ng-change="cart.saveItems()" />
              <span>
              <button
                 class="btn-small btn-success" type="button"
                 ng-disabled="item.amount >= 1000"
                 ng-click="cart.addItem(item.id)">+
              </button>
              <button
                class="btn-small btn-inverse" type="button"
                ng-disabled="item.amount === 0"
                ng-click="cart.minusItem(item.id)">-
              </button>
              </span>
            </div>
          </td>
          <td class="tdRight">{{item.price * item.amount | currency}}</td>
          <td class="tdCenter" title="remove from cart">
            <i class="glyphicon glyphicon-remove" ng-click="cart.deletItem(item.id)" />
          </td>
        </tr>

      <!-- footer -->
        <tr class="well">
          <td><b>Total</b></td>
          <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
          <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
          <td />
        </tr>
    </table>


      </div>
  </div>
</div>

</body>
</html>